html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1e;
    font-family: 'Inter', sans-serif;
}

.title-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: #2c2c2d;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 30px;
}

.game {
    position: relative;
    left: 0;
    right: 0;
    top: 75px;
    padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.movie-card {
    width: 600px;
    height: 200px;
    position: relative;
}

.movie-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background-color: #1c1c1e;
    font-weight: bold;
    border-radius: 0 0 15px 15px;
    line-height: 60px;
    letter-spacing: 1px;
    font-size: 30px;
    filter: drop-shadow(0 0 40px #000000);
    color: #FFFFFF;
    padding-left: 25px;
    z-index: 1000;
}

.movie-splash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://th.bing.com/th/id/R.7ca7fc261231a2c6a03416d5875a9c16?rik=cGz6ZMnXcGZH5Q&riu=http%3a%2f%2fimg2.wikia.nocookie.net%2f__cb20130228054320%2fstarwars%2fimages%2f9%2f92%2fLukesaberanh.png&ehk=FtyRLJApA15weoePdxChBqxb7PkPM0Gd1Aqr6Nk6D6k%3d&risl=&pid=ImgRaw&r=0");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.character-pool {
    margin-top: 15px;
    width: auto;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #2A2A2A;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.character {
    position: relative;
    padding: 10px;
    height: 30px;
    width: 180px;
    border-radius: 10px;
    background-color: #2A2A2A;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
}

.character-inserted {
    width: 100%;
    cursor: default;
}

.sorted-character-list {
    width: 550px;
    height: auto;
    margin-top: 15px;
    padding: 0 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #2A2A2A;
}

.insertion-box {
    width: 100%;
    height: 15px;
    transition: height 0.3s ease;
    position: relative;
}

.insertion-box-extended {
    height: 60px;
}

.character-status-box {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.character-screentime-value {
    font-style: italic;
    color: #CECECE;
    margin-right: 7px;
}

.character-screentime-status-correct {
    color: #15cc28;
    font-weight: bolder;
}

.character-screentime-status-wrong {
    color: #c22c0b;
    font-weight: bolder;
}

.inserted-wrong {
    border: 2px solid #c22c0b;
    opacity: 40%;
    margin-top: 15px;
    height: 10;
    line-height: 10px;
}

.score-counter {
    position: absolute;
    right: calc(100% + 30px);
    top: 0;
    color: #FFFFFF;
    background-color: #2A2A2A;
    width: 60px;
    height: 70px;
    border-radius: 15px;
    line-height: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}